<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nanodb-tests" verbose="1" >
  <test name="assignment5-tests">
    <classes>
      <class name="edu.caltech.test.nanodb.indexes.bitmap.TestBitmapStorage">
        <methods>
          <include name="testBitmapReadWrite" />
        </methods>
      </class>
    </classes>
  </test>
</suite>
